html {
    height: 100%;
    width: 100%;
    background-color: #ffffff;
}
body {
    margin: 0;
    max-height: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #ffffff;
    font-family: Helvetica, arial, sans-serif;
    position: relative;
    width: 100%;

    -webkit-tap-highlight-color: transparent;
}

#page-block {
    position: absolute;
    display: block;
    height: 50vh;
    width: 100vw;
    top: 50vh;
    background: none;
    margin: 0 auto;
    overflow: hidden;
    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 82%);
    mask-image: linear-gradient(to bottom, black 50%, transparent 82%);
}

.page-para p {
    position: relative;
    display: block;
    color: #ffffff;
    margin-left: 10.25vw;
    margin-right: 10.25vw;
    margin-bottom: 0.3rem;
    margin-top: 0.3rem;
    line-height: 1.35rem;
    text-indent: 20px;
    font-family: 'STIX Two Text', serif;
    font-size: 1.0rem;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
}

#fps {
    position: fixed;
    margin-top: 30px;
    margin-left: 16px;
    font-size: 10px;
    color: #ffffff;
}

#info {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 7px;
    margin-top: 40px;
    padding: 0.25em;
    color: white;
    background: rgba(0, 0, 0, 0.58);
    white-space: pre;
    font-family: monospace;
}

#splash {
    display: block;
    position: absolute;
    height: 100vh;
    width: 100%;
    z-index: 10;
    background-color:#ffdd00;
    touch-action: none;
}

#application-canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
#application-canvas.fill-mode-NONE {
    margin: auto;
}
#application-canvas.fill-mode-KEEP_ASPECT {
    width: 100%;
    height: auto;
    margin: 0;
}
#application-canvas.fill-mode-FILL_WINDOW {
    width: 100%;
    height: 100%;
    margin: 0;
}

canvas {
    touch-action: none;
    display: block;
}